@model TableGrid.Models.mTableGrid

<h2>Create New User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.CreatedOn)
                    @Html.TextBoxFor(m => m.CreatedOn, new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(m => m.CreatedOn, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.fname)
                    @Html.EditorFor(m => m.fname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.fname, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.lname)
                    @Html.EditorFor(m => m.lname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.lname, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.userName)
                    @Html.EditorFor(m => m.userName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.userName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.password)
                    @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.email)
                    @Html.EditorFor(m => m.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.age)
                    @Html.EditorFor(m => m.age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.age, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ml-2" })
    </div>
}